
<div class="todos-container">
  
  <button 
    [disabled]="isCreateLoading"
    mat-raised-button (click)="openCreateTodoDialog()">
    Criar Nova Tarefa
  
  </button>
  
  <table>
    <thead>
      <th>
        Criado em:
      </th>
      <th>
        Descroção
      </th>
      <th>
        Feito
      </th>
      <th>
        Ações
        </th>
      </thead>
      <tr *ngIf="isLoading">
          <mat-spinner [diameter]="100"></mat-spinner>
      </tr>
        <tbody *ngFor="let todo of todosList">
          
          <tr *ngIf="!isLoading">
            
            <td>
              {{ todo.createdAt }}
            </td>
            <td>
              {{ todo.description }}
            </td>
            <td>
              <button mat-button class="btn-toggle" (click)="toggleDone(todo)">
                <mat-icon *ngIf="todo.done">check_circle_outline</mat-icon>
                <mat-icon *ngIf="!todo.done">close</mat-icon>
              </button>  
            </td>
            <td>
              <button mat-stroked-button class="action-button" (click)="deleteTodoTask(todo._id)">
                <mat-icon>delete_outlined</mat-icon>
            </button> 
            <button mat-stroked-button class="action-button" (click)="openEditTodoDialog(todo)">
                <mat-icon>edit</mat-icon>
            </button>            
        </td>
      </tr>

    </tbody>

  </table>

</div>