
.action-buttons-pannel {
    float: right;

}
.action-button {
    margin: 0px 10px;
    float: right;
}

table {
    width: 100%;

    th {
        border-bottom: 1px solid #cecece;
        border-right: 1px solid #cecece;
    }

    td {
        align-content: center;
    }
}

