
.action-buttons-pannel {
    float: right;

}
.action-button {
    margin: 0px 10px;
    float: right;
}

.btn-toggle {
    cursor: pointer;
}

table {
    width: 100%;
    text-align: center;

    th {
        border-bottom: 1px solid #cecece;
        border-right: 1px solid #cecece;
        padding: 12px;
    }

    td {
        align-content: center;
    }

    tr {
        margin: 0px 10px;
    }
}

